<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id} (id=${person.getId()})}" th:object="${person}">
    <label for="name">Введите ФИО нового человека: </label>
    <input type="text" th:field="*{name}" id = "name">
    <div style="color:red" th:if="${#fields.hasErrors()}" th:errors="*{name}">Error message</div>
    <br/>
    <br/>
    <label for="year">Введите год рождения нового человека: </label>
    <input type="text" th:field="*{year}" id = "year">
    <div style="color:red" th:if="${#fields.hasErrors()}" th:errors="*{year}">Error message</div>
    <br/>
    <hr/>
    <br/>
    <input type="submit" value="Редактировать"/>
</form>
</body>
</html>